body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-image: url('../static/img1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.container {
    width: 50%;
    margin: auto;
    overflow: hidden;
    transform: translateY(50%, -50%);
}

h1 {
    text-align: center;
    color: #333;
}

h3 {
    text-align: center;
    color: #4caf50;
}

.card {
    background: #fff;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 0 15px 0 #000;
    border-radius: 8px;
}

.card-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-content {
    font-size: 16px;
    margin-bottom: 15px;
}

.card-button {
    background: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.card-button:hover {
    background: #45a049;
}
