body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-image: url('../static/img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}

.container {
    width: 50%;
    margin: auto;
    overflow: hidden;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    background: #fff;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 0 15px 0 #000;
}

label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

select,
input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    display: inline-block;
    box-sizing: border-box;
}

button {
    background: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #45a049;
}

.form-group {
    margin-bottom: 15px;
}
